*{
    background-color: black;
color: azure;
}

.game-area{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.level{
    color: azure;
}

.pontuacao{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: violet;
}
#nome{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: deeppink;
}
#pontos{
    color: palegreen;
}
p{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: blueviolet;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}